
body{
   display:flex;
   flex-direction: column;
   margin: 0;
   padding: 0;
   font-family: my-cool-font;

   
}

.header, .media-top, .footer{
   display: flex; 
   background-color:#1F2937;
   flex-wrap: wrap;
   color: #f9faf8;
    }


    /*class for image holder npt sure yet header-logo" src="" alt="logo">*/  
a {;

    font-size: 18px  
    }
    
.media-top{


    }
 /*class for image holder npt sure yet <img class="top-media" */
    
.blurb h1{
    font-size: 48px;
    font-weight: 900 ;

    }            
      

.image-strip{
display: flex;
justify-content: center;

text-align: center;
 }
.image-strip h2{
   
}

      
.strip-image{

    }
   
.testimonial{
background-color: #e5e7eb;
color: #1F2937;
  flex: auto;
 }
     
.signup-container{
flex: 1;
    }
       
button{
      background-color:#3882f6;
 border-radius: 12px;
color: #e5f7eb;
border: none;
font-size: 18px;
padding: 5px 10px 5px 10px;
    }

   .footer{
    justify-content: center;
    align-content: center;

   }        
    