
body{
   display:flex;
   flex-direction: column;
   margin: 0;
   padding: 0;
   flex-grow: 1;
}
body * {
    border: 2px solid red;/*trying to see the edges of divs here*/  
    
}

.header, .media-top, a, .footer{
   display: flex; 
   background-color:#1F2937;
   flex-wrap: wrap;
   color: #f9faf8;
   flex:auto;
    }
.header{
    justify-content: space-around;
}

.header-logo{
align-content: flex-start;
   }
.header-right{
    align-self: end;
}
ul {
    display:flex;
    margin: 0;
    padding: 0;
    gap: 16px;
    list-style: none;
  }   
a {   
    text-decoration: none;
    font-size: 18px  
    }
    
.media-top{
padding: 20px;
justify-content: center;
    }
 /*class for image holder npt sure yet <img class="top-media" */
.blurb{
    padding: 10px;
} 
 
.blurb h1{
    font-size: 48px;
    font-weight: 900 ;
    }    

.blurb > button{
        background-color:#3882f6;
    border-radius: 12px;
    color: #e5f7eb;
    font-size: 18px;
    padding: 5px 10px 5px 10px;
    margin-top: 10px; 
    box-shadow:none   
}   

button{
    color: #e5e7eb;
    border-color: #e5e7eb;
    
}  


.image-strip{
display: flex;
justify-content: center;
color: #1F2937;

flex-wrap: wrap;
gap: 52px;
 }
.strip-info{
    font-size: 36px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    padding-top: 50px ;
    padding-bottom:50px;
    color: #1F2937;
    font-size: 36px;
}

      
.strip-image{
    max-width: 150px;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-content: space-between;
    }
.strip-image > img{
    border: 3px solid #3882f6;
    border-radius: 12px;
    min-width: 150px;
    min-height: 150px;
    margin-bottom: 20px;
}
   
.testimonial{
background-color: #e5e7eb;
color: #1F2937;
display: flex;
align-content: center;
justify-content: center;
flex-wrap: wrap;
 }
 .testimonial > .container{
    display: flex;
    align-items:flex-end ;
    flex-wrap: wrap;
 }    
.signup-container{
    display:flex ;
    padding: 20px;
    justify-content: center;
} 
.container{    
    background-color:#3882f6;
    justify-content: space-between;

    }
.signup-container > .container> button{
        background-color: #3882f6;
        border-radius: 12px;
        color: #e5f7eb;
        font-size: 18px;
        padding: 5px 10px 5px 10px;
        margin-top: 10px;    
        box-shadow:none
    }  
    


.footer{
    justify-content: center;
    align-content: center;

   }        
    